// 点击试卷后的缩略信息
<template>
  <div id="msg">
    <div class="title" style="padding-top: 20px">
      <span>试卷列表</span>
      <span>/ {{ examData.course }}</span>
    </div>
    <div class="wrapper">
      <ul class="top">
        <li class="example">{{ examData.course }}</li>
        <li><i class="el-icon-edit"></i></li>
        <li class="right">
          <div>
            <span class="count">总分</span>
            <span class="score">{{ score[0] + score[1] + score[2] }}</span>
          </div>
        </li>
      </ul>
      <ul class="bottom">
        <li>更新于{{ examData.examDate }}</li>
        <li>来自 {{ examData.institute }}</li>
        <li class="btn">{{ examData.type }}</li>
        <li class="right">
          <el-button @click="toAnswer()">开始答题</el-button>
        </li>
      </ul>
      <ul class="info">
        <li @click="dialogVisible = true">
          <a href="javascript:;"><i class="el-icon-warning"></i>考生须知</a>
        </li>
      </ul>
    </div>
    <div class="content">
      <el-collapse>
        <el-collapse-item class="header">
          <template slot="title">
            <div class="title">
              <span>{{ examData.source }}</span
              ><i class="el-icon-info"></i>
              <span class="time"
                >{{ examData.totalScore }}分 /
                {{ examData.totalTime }}分钟</span
              >
              <i class="el-icon-time"></i>
              <el-button type="primary" size="small" style="margin-left: 40px"
                >点击查看试题详情</el-button
              >
            </div>
          </template>
          <el-collapse class="inner">
            <el-collapse-item name="multi">
              <template slot="title">
                <div class="titlei">
                  选择题 (共{{ count[0] }}题 共计{{ score[0] }}分)
                </div>
              </template>
              <div class="contenti">
                <ul
                  class="question"
                  v-for="(item, index) in paper['multi']"
                  :key="index"
                >
                  <li>
                    {{ index + 1 }}. {{ item.question }} {{ item.score }}分
                  </li>
                </ul>
              </div>
            </el-collapse-item>
            <el-collapse-item name="fill">
              <template slot="title">
                <div class="titlei">
                  填空题 (共{{ count[1] }}题 共计{{ score[1] }}分)
                </div>
              </template>
              <div class="contenti">
                <ul
                  class="question"
                  v-for="(item, index) in paper['fill']"
                  :key="index"
                >
                  <li>
                    {{ count[0] + index + 1 }}.{{ item.question }}
                    {{ item.score }}分
                  </li>
                </ul>
              </div>
            </el-collapse-item>
            <el-collapse-item name="judge">
              <template slot="title">
                <div class="titlei">
                  判断题 (共{{ count[2] }}题 共计{{ score[2] }}分)
                </div>
              </template>
              <div class="contenti">
                <ul
                  class="question"
                  v-for="(item, index) in paper['judge']"
                  :key="index"
                >
                  <li>
                    {{ count[0] + count[1] + index + 1 }}. {{ item.question }}
                    {{ item.score }}分
                  </li>
                </ul>
              </div>
            </el-collapse-item>
          </el-collapse>
        </el-collapse-item>
      </el-collapse>
    </div>
    <!--考生须知对话框-->
    <el-dialog title="考生须知" :visible.sync="dialogVisible" width="30%">
      <span>{{ examData.tips }}</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">知道了</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { reqGetExamByExamCode, reqGetPaper } from "@/api";

export default {
  data() {
    return {
      dialogVisible: false, //对话框属性
      count: [], //每种类型题目的总数
      score: [], //每种类型分数的总数
      examData: {
        //考试信息
        examCode: null,
        description: null,
        course: null,
        paperId: null,
        examDate: null,
        totalTime: null,
        grade: null,
        term: null,
        major: null,
        institute: null,
        totalScore: null,
        type: null,
        tips: null,
      },
      paper: {
        //试卷
        paperId: null,
        multi: null,
        fill: null,
        judge: null,
      },
    };
  },
  mounted() {
    this.init();
  },
  methods: {
    //初始化页面数据
    init() {
      let examCode = this.$route.query.examCode;
      reqGetExamByExamCode(examCode)
        .then((res) => {
          this.examData = res.data;
          return res.data.paperId;
        })
        .then((res) => {
          // 根据试卷Id获取试卷
          return reqGetPaper(res);
        })
        .then((res) => {
          this.paper = res.data;
          // keys数组的每个元素代表试题类型 'multi'--选择题 'fill'--填空题 'judge'--判断题      keys正常下应为['multi','fill','judge']
          // let keys = Object.keys(this.paper);
          let keys = ["multi", "fill", "judge"];
          keys.forEach((e) => {
            // 拿到三种类型题目对应的数据
            let data = this.paper[e];
            this.count.push(data.length);
            // 计算三种类型的题目对应总分
            let totalScore = 0;
            for (let i = 0; i < data.length; i++) {
              totalScore += data[i].score;
            }
            this.score.push(totalScore);
          });
        })
        .catch((error) => {
          this.$message({
            message: error,
            type: "error",
            center: true,
          });
        });
    },
    toAnswer() {
      this.$router.push({
        path: "/answer",
        query: {
          examCode: this.examData.examCode,
          paperId: this.examData.paperId,
        },
      });
    },
  },
};
</script>

<style lang="less" scoped>
li{
  list-style: none;
}
.bottom {
  .right {
    .el-button {
      color: #409eff;
      border-color: #c6e2ff;
      background-color: #ecf5ff;
    }
  }
}
.right {
  margin-left: auto;
}
.inner .contenti .question {
  margin-left: 40px;
  color: #9a9a9a;
  font-size: 14px;
}
.content .inner .titlei {
  margin-left: 20px;
  font-size: 16px;
  color: #88949b;
  font-weight: bold;
}
.content .title .time {
  font-size: 16px;
  margin-left: 420px;
  color: #999;
}
.content .stitle {
  background-color: #0195ff;
}
.content .title span {
  margin-right: 10px;
}
#msg .content .title {
  font-size: 20px;
  margin: 0px;
  display: flex;
  align-items: center;
}
.content {
  margin-top: 20px;
  background-color: #fff;
}
.content .header {
  padding: 10px 30px;
}
.wrapper .info {
  margin: 20px 0px 0px 20px;
  border-top: 1px solid #eee;
  padding: 20px 0px 10px 0px;
}
.wrapper .info a {
  color: #88949b;
  font-size: 14px;
}
.wrapper .info a:hover {
  color: #0195ff;
}
.wrapper .bottom .btn {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #88949b;
  border-radius: 4px;
}
.wrapper .bottom {
  display: flex;
  margin-left: 20px;
  color: #999;
  font-size: 14px;
  align-items: center;
}
.wrapper .bottom li {
  margin-right: 14px;
}
#msg {
  background-color: #eee;
  width: 980px;
  margin: 0 auto;
}
#msg .title {
  margin: 20px;
}
#msg .wrapper {
  background-color: #fff;
  padding: 10px;
}
.wrapper .top {
  display: flex;
  margin: 20px;
  align-items: center;
}
.wrapper .top .right {
  margin-left: auto;
}
.wrapper .top .example {
  color: #333;
  font-size: 22px;
  font-weight: 700;
}
.wrapper .top li i {
  margin-left: 20px;
  color: #88949b;
}
.wrapper .right .count {
  margin-right: 60px;
  color: #fff;
  padding: 4px 10px;
  background-color: #88949b;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #88949b;
}
.wrapper .right .score {
  position: absolute;
  left: 53px;
  top: -2px;
  padding: 1px 12px;
  font-size: 20px;
  color: #88949b;
  border: 1px dashed #88949b;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: bold;
}
.wrapper .right div {
  position: relative;
}
</style>
