<template>
  <div id="answer">
    <!--顶部信息栏-->
    <div class="top">
      <ul class="item">
        <li>{{$route.query.courseName}}</li>
      </ul>
    </div>
    <div class="flexarea">
      <!--左边题目编号区-->
      <transition name="slider-fade">
        <div class="left">
          <ul class="l-top">
            <li>
              <a href="javascript:;"></a>
              <span>当前</span>
            </li>
            <li>
              <a href="javascript:;"></a>
              <span>做错了</span>
            </li>
            <li>
              <a href="javascript:;"></a>
              <span>做对了</span>
            </li>
          </ul>
          <div class="l-bottom">
            <div class="item">
              <p>选择题部分</p>
              <ul>
                <li v-for="(item, index1) in multi" :key="index1">
                  <a
                    href="javascript: void(0);"
                    @click="changeMultiIndex(index1)"
                    :class="{
                      right_bg: isRight(item.studentAnswer, item.rightAnswer),
                      error_bg: isError(item.studentAnswer, item.rightAnswer),
                      border: index == index1 && currentType == 1,
                    }"
                  >
                    {{ index1 + 1 }}
                  </a>
                </li>
              </ul>
            </div>
            <div class="item">
              <p>填空题部分</p>
              <ul>
                <li v-for="(item, index2) in fill" :key="index2">
                  <a
                    href="javascript: void(0);"
                    @click="changeFillIndex(index2)"
                    :class="{
                      right_bg: isRight(item.studentAnswer, item.rightAnswer),
                      error_bg: isError(item.studentAnswer, item.rightAnswer),
                      border: index - count[0] == index2 && currentType == 2,
                    }"
                  >
                    {{ count[0] + index2 + 1 }}
                  </a>
                </li>
              </ul>
            </div>
            <div class="item">
              <p>判断题部分</p>
              <ul>
                <li v-for="(item, index3) in judge" :key="index3">
                  <a
                    href="javascript: void(0);"
                    @click="changeJudgeIndex(index3)"
                    :class="{
                      right_bg: isRight(item.studentAnswer, item.rightAnswer),
                      error_bg: isError(item.studentAnswer, item.rightAnswer),
                      border:index - count[0] - count[1] == index3 &&currentType == 3,
                    }"
                  >
                    {{ count[0] + count[1] + index3 + 1 }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </transition>
      <!--右边题目详情区-->
      <transition name="slider-fade">
        <div class="right">
          <div class="title">
            <i class="auto-right"></i>
            <span>全卷共{{ count[0] + count[1] + count[2] }}题 </span>
          </div>
          <div class="content">
            <div v-if="currentType == 1 && multi">
              <p class="topic">
                <span class="number">{{ index + 1 }}</span
                >{{ multi[questionIndex].question }}
              </p>
              <div style="margin: 0 auto; width: 350px">
                <el-radio-group
                >
                  <el-radio
                    label="A"
                    style="display: flex; align-items: center; width: 100px"
                    >A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
                      multi[questionIndex].optionA
                    }}</el-radio
                  >
                  <el-radio
                    label="B"
                    style="display: flex; align-items: center; width: 100px"
                    >B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
                      multi[questionIndex].optionB
                    }}</el-radio
                  >
                  <el-radio
                    label="C"
                    style="display: flex; align-items: center; width: 100px"
                    >C&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
                      multi[questionIndex].optionC
                    }}</el-radio
                  >
                  <el-radio
                    label="D"
                    style="display: flex; align-items: center; width: 100px"
                    >D&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
                      multi[questionIndex].optionD
                    }}</el-radio
                  >
                </el-radio-group>
                <div style="margin: 20px 0">
                  <h4>正确答案：{{multi[questionIndex].rightAnswer}}</h4>
                  <h4>您的答案：{{multi[questionIndex].studentAnswer}}</h4>
                  <p>解析：{{multi[questionIndex].analysis}}</p>
                </div>
              </div>
            </div>
             <div class="fill" v-if="currentType == 2">
              <span>{{ fill[questionIndex].question }}</span><br>
              <el-input
                style="width: 200px; margin: 30px 0"
              >
              </el-input>
              <div style="margin: 20px 0">
                  <h4>正确答案：{{fill[questionIndex].rightAnswer}}</h4>
                  <h4>您的答案：{{fill[questionIndex].studentAnswer}}</h4>
                  <p>解析：{{fill[questionIndex].analysis}}</p>
                </div>
            </div>
            <div class="judge" v-if="currentType == 3">
              <span>{{ judge[questionIndex].question }}</span>
              <el-radio-group
                style="margin: 20px 0"
              >
                <el-radio label="T">正确</el-radio>
                <el-radio label="F">错误</el-radio>
              </el-radio-group>
              <div style="margin: 20px 0">
                  <h4>正确答案：{{judge[questionIndex].rightAnswer}}</h4>
                  <h4>您的答案：{{judge[questionIndex].studentAnswer}}</h4>
                  <p>解析：{{judge[questionIndex].analysis}}</p>
                </div>
            </div>
          </div>
          <div class="operation">
            <ul class="end">
              <li @click="previous()">
                <span>上一题</span>
              </li>
              <li @click="mark()">
                <span>标记</span>
              </li>
              <li @click="next()">
                <span>下一题</span>
              </li>
            </ul>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
// eslint-disable-next-line no-unused-vars
import { mapState } from "vuex";
import { reqGetPracticeLogDetail } from "@/api";

export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: "ExamLogDetail",

  data() {
    return {
      currentType: 1, //当前题型类型  1--选择题  2--填空题  3--判断题
      index: 0, //全局index
      questionIndex: 0, //每种题型下题目在数组中的下标
      number: 1, //题号
      multi: null, //选择题
      fill: null, //填空题,
      judge: null, //判断题
      count: [], //[选择题数量,填空题数量,判断题数量]
    };
  },
  created() {
    this.getPracticeLogDeatil();
  },
  methods: {
    getPracticeLogDeatil() {
      reqGetPracticeLogDetail(this.$route.query.practiceRecordId)
        .then((res) => {
          this.multi = res.data.multi;
          this.fill = res.data.fill;
          this.judge = res.data.judge;
          this.count.push(this.multi.length);
          this.count.push(this.fill.length);
          this.count.push(this.judge.length);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    changeMultiIndex(index) {
      this.currentType = 1;
      this.index = index + 0;
      this.questionIndex = index;
    },
    changeFillIndex(index) {
      this.currentType = 2;
      this.index = index + this.count[0];
      this.questionIndex = index;
    },
    changeJudgeIndex(index) {
      this.currentType = 3;
      this.index = index + this.count[0] + this.count[1];
      this.questionIndex = index;
    },
    previous() {
      //上一题
      if (this.index == 0) {
        return;
      }
      this.index--;
      if (this.index < this.count[0]) {
        this.questionIndex = this.index;
        this.currentType = 1;
      } else if (
        this.index >= this.count[0] &&
        this.index < this.count[0] + this.count[1]
      ) {
        this.questionIndex = this.index - this.count[0];
        this.currentType = 2;
      } else {
        this.questionIndex = this.index - this.count[0] - this.count[2];
        this.currentType = 3;
      }
    },
    next() {
      //下一题
      if (this.index == this.count[0] + this.count[1] + this.count[2] - 1) {
        return;
      }
      this.index++;
      if (this.index < this.count[0]) {
        this.questionIndex = this.index;
        this.currentType = 1;
      } else if (
        this.index >= this.count[0] &&
        this.index < this.count[0] + this.count[1]
      ) {
        this.questionIndex = this.index - this.count[0];
        this.currentType = 2;
      } else {
        this.questionIndex = this.index - this.count[0] - this.count[2];
        this.currentType = 3;
      }
    },
    isRight(studentAnswer, rightAnswer){
      return studentAnswer === rightAnswer;
    },
    isError(studentAnswer, rightAnswer){
      return studentAnswer != rightAnswer;
    }
  },
};
</script>

<style lang="less">
.iconfont.icon-time {
  color: #2776df;
  margin: 0px 6px 0px 20px;
}
.analysis {
  margin-top: 20px;
  .right {
    color: #2776df;
    font-size: 18px;
    border: 1px solid #2776df;
    padding: 0px 6px;
    border-radius: 4px;
    margin-left: 20px;
  }
  ul li:nth-child(2) {
    margin: 20px 0px;
  }
  ul li:nth-child(3) {
    padding: 10px;
    background-color: #d3c6c9;
    border-radius: 4px;
  }
}
.analysis span:nth-child(1) {
  font-size: 18px;
}
.mark {
  position: absolute;
  width: 4px;
  height: 4px;
  content: "";
  background-color: red;
  border-radius: 50%;
  top: 0px;
  left: 22px;
}
.border {
  position: relative;
  border: 1px solid #ff90aa !important;
}
.right_bg {
  background-color: rgb(126, 198, 126) !important;
}
.error_bg {
  background-color: #b0433b !important;
}
.fill .el-input {
  display: inline-flex;
  width: 150px;
  margin-left: 20px;
  .el-input__inner {
    border: 1px solid transparent;
    border-bottom: 1px solid #eee;
    padding-left: 20px;
  }
}
/* slider过渡效果 */
.slider-fade-enter-active {
  transition: all 0.3s ease;
}
.slider-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slider-fade-enter,
.slider-fade-leave-to {
  transform: translateX(-100px);
  opacity: 0;
}

.operation .end li:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(39, 118, 223);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #fff;
}
.operation .end li {
  cursor: pointer;
  margin: 0 100px;
}
.operation {
  background-color: #fff;
  border-radius: 4px;
  padding: 10px 0px;
  margin-right: 10px;
}
.operation .end {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(39, 118, 223);
}
.content .number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: rgb(39, 118, 223);
  border-radius: 4px;
  margin-right: 4px;
}
.content {
  padding: 0px 20px;
}
.content .topic {
  padding: 20px 0px;
  padding-top: 30px;
}
.right .content {
  background-color: #fff;
  margin: 10px;
  margin-left: 0px;
}
.content .el-radio-group label {
  color: #000;
  margin: 5px 0px;
}
.content .el-radio-group {
  display: flex;
  flex-direction: column;
}
.right .title p {
  margin-left: 20px;
}
.flexarea {
  display: flex;
}
.flexarea .right {
  flex: 1;
}
.auto-right {
  margin-left: auto;
  color: #2776df;
  margin-right: 10px;
}
.right .title {
  margin-right: 10px;
  padding-right: 30px;
  display: flex;
  margin-top: 10px;
  background-color: #fff;
  height: 50px;
  line-height: 50px;
}
.clearfix {
  clear: both;
}
.l-bottom .final {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  background-color: rgb(39, 118, 223);
  width: 240px;
  margin: 20px 0px 20px 10px;
  border-radius: 4px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  margin-top: 22px;
}
#answer .left .item {
  padding: 0px;
  font-size: 16px;
}
.l-bottom {
  border-radius: 4px;
  background-color: #fff;
}
.l-bottom .item p {
  margin-bottom: 15px;
  margin-top: 10px;
  color: #000;
  margin-left: 10px;
  letter-spacing: 2px;
}
.l-bottom .item li {
  width: 15%;
  margin-left: 5px;
  margin-bottom: 10px;
}
.l-bottom .item {
  display: flex;
  flex-direction: column;
}
.l-bottom .item ul {
  width: 100%;
  margin-bottom: -8px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.l-bottom .item ul li a {
  position: relative;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #eee;
  text-align: center;
  color: #000;
  font-size: 16px;
}
.left .l-top {
  display: flex;
  justify-content: space-around;
  padding: 16px 0px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #fff;
}
.left {
  width: 260px;
  height: 100%;
  margin: 10px 10px 0px 10px;
}
.left .l-top li:nth-child(2) a {
  border: none;
  background-color: #b0433b;
}
.left .l-top li:nth-child(3) a {
  background-color: rgb(126, 198, 126);
  border: none;
}
.left .l-top li:nth-child(4) a {
  position: relative;
  border: 1px solid #eee;
}
.left .l-top li:nth-child(4) a::before {
  width: 4px;
  height: 4px;
  content: " ";
  position: absolute;
  background-color: red;
  border-radius: 50%;
  top: 0px;
  left: 16px;
}
.left .l-top li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left .l-top li a {
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ff90aa;
}
#answer .top {
  background-color: rgb(39, 118, 223);
}
#answer .item {
  color: #fff;
  display: flex;
  padding: 20px;
  font-size: 20px;
}
#answer .top .item li:nth-child(1) {
  margin-right: 10px;
}
#answer .top .item li:nth-child(3) {
  position: relative;
  margin-left: auto;
}
#answer {
  padding-bottom: 30px;
}
.icon20 {
  font-size: 20px;
  font-weight: bold;
}
.item .msg {
  padding: 10px 15px;
  border-radius: 4px;
  top: -50px;
  right: -30px;
  color: #6c757d;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
.item .msg p {
  font-size: 16px;
  width: 200px;
  text-align: left;
}
</style>
