<!-- 用户登录界面 -->
<template>
  <div id="login">
    <div class="bg"></div>
    <el-row class="main-container">
      <el-col :span="10">
        <div class="top">
          <i class="el-icon-eleme"></i><span class="title">在线考试系统</span>
        </div>
        <div class="bottom">
          <div class="container">
            <p class="title">账号登录</p>
            <el-form label-position="left" label-width="80px" :model="loginInfo" :rules="rules" ref="logInfoForm">
              <el-form-item label="用户名" prop="userName">
                <el-input v-model="loginInfo.userName" placeholder="请输入用户名"></el-input>
              </el-form-item>
              <el-form-item label="密码" prop="passWord">
                <el-input v-model="loginInfo.passWord" placeholder="请输入密码" type='password'></el-input>
              </el-form-item>
              <div class="submit">
                <el-button type="primary" class="row-login" @click="login()">登录</el-button>
              </div>
            </el-form>
          </div>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import {mapState} from 'vuex'
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: "Login",
  data() {
    return {
      loginInfo: {
        userName: '',
        passWord: '',
      },
      rules:{
        userName: [
            { required: true, message: '请输入用户名', trigger: 'blur' },
            { min: 2, max: 10, message: '长度在 2 到 10 个字符', trigger: 'blur' }
          ],
        passWord: [
            { required: true, message: '请输入密码', trigger: 'blur' },
            { min: 3, max: 20, message: '长度在 3 到 20 个字符', trigger: 'blur' }
          ],
      }
    }
  },
  methods: {
    async login() {
      let valid = await this.$refs.logInfoForm.validate().catch((error)=>{console.log(error);})
            if(valid){
                //验证通过
              try {
                let student = await this.$store.dispatch("studentLogin", this.loginInfo);
                this.$cookies.set("studentId", student.studentId);
                this.$cookies.set("studentName", student.studentName);
                this.$message({
                  message: "登录成功！",
                  type: 'success',
                  center: true
                })
                this.$router.push('/student');
              } catch (error) {
                this.$message({
                  message: error,
                  type: 'error',
                  center: true
                })
              }
            }else{
                //验证不通过
                return;
            }
      
    },

  },
  computed: {
    ...mapState({
      userInfo  : (state) => state.user.userInfo,
    }),
  }
  
}
</script>

<style lang="less" scoped>

.container {
  margin-bottom: 32px;
}
.container .el-radio-group {
  margin: 30px 0px;
}
a:link {
  color:#ff962a;
  text-decoration:none;
}
#login {
  font-size: 14px;
  color: #000;
  background-color: #fff;
}
#login .bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow-y: auto;
  height: 100%;
  background: url('../../assets/img/loginbg.png')center top / cover no-repeat;
  background-color: #b6bccdd1 !important;
}
#login .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#login .main-container .top {
  margin-top: 100px;
  font-size: 30px;
  color: #ff962a;
  display: flex;
  justify-content: center;
}
#login .top .icon-kaoshi {
  font-size: 80px;
}
#login .top .title {
  margin-top: 20px;
}
#login .bottom {
  display:flex;
  justify-content: center;
  background-color:#fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#login .bottom .title {
  text-align: center;
  font-size: 30px;
}
.bottom .container .title {
  margin: 30px 0px;;
}
.bottom .submit .row-login {
  width: 100%;
  background-color: #04468b;
  border-color: #04468b;
  margin: 20px 0px 10px 0px;
  padding: 15px 20px;
}
.bottom .submit {
  display: flex;
  justify-content: center;
}
.bottom .options {
  margin-bottom: 40px;
  color: #ff962a;
  display: flex;
  justify-content: space-between;
}
.bottom .options > a {
  color: #ff962a;
}
.bottom .options .register span:nth-child(1) {
  color: #8C8C8C;
}
</style>
